<!DOCTYPE html>
<html th:lang="#{language}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addSubTask}"></title>
</head>
<body>
<h1 th:text="#{addSubTask}"></h1>
<form method="post" th:action="${edit} ? '/tasks/'+${taskId}+'/sub/edit' : '/tasks/'+${taskId}+'/sub/create'" th:object="${subTask}">
    <input type="hidden" name="subId" id="subId" th:if="${edit}" th:value="${subId}">
    <p>
        <label for="title" th:text="#{title}"></label>
        <input id="title" name="title" type="text" th:field="*{title}">
    </p>
    <p>
        <label for="description" th:text="#{description}"></label>
        <input id="description" name="description" type="text" th:field="*{description}">
    </p>
    <input id="submit" type="submit" th:value="#{submit}">
</form>
</body>
</html>
