<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
<h1 th:text="${edit} ? 'Edit Task' : 'New Task'"></h1>
<form method="post" th:action="${edit} ? '/tasks/edit' : '/tasks/create'" th:object="${task}">
    <input type="hidden" name="id" id="id" th:if="${edit}" th:value="${id}">
    <p>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" th:field="*{title}">
    </p>
    <p>
        <label for="description">Description</label>
        <input id="description" name="description" type="text" th:field="*{description}">
    </p>
    <p>
        <label for="dueDate">Due date</label>
        <input id="dueDate" name="dueDate" type="text" th:field="*{dueDate}">
    </p>
    <input id="submit" type="submit">
</form>
</body>
</html>
