<!DOCTYPE html>
<html th:lang="#{language}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tasks</title>
</head>
<body>
<button onclick="location.href='?lang=nl'">Nederlands</button>
<button onclick="location.href='?lang=en'">English</button>
<h1>TASKS</h1>
<p th:if="${tasks.isEmpty()}" th:text="#{noTasks}"></p>

<ul th:unless="${tasks.isEmpty()}">
    <li th:each="t: ${tasks}"><a th:text="${t.title}+': ' + #{due} + ' '+${t.dueDate}"
                                 th:href="'/tasks/'+${t.uuid}"></a></li>
</ul>
</body>
</html>
