<!DOCTYPE html>
<html th:lang="#{language}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title  th:text="#{taskDetail}"></title>
</head>
<body>
<h1 th:text="#{taskDetail}"></h1>
<div th:object="${task}">
    <p th:text="#{title} + ': '+*{title}"></p>
    <p th:text="#{description} + ': '+*{description}"></p>
    <p th:text="#{duedate} + ': '+*{dueDate}"></p>
    <table th:unless="*{subTasks.isEmpty()}">
        <thead>
            <th  th:text="#{subTaskTitle}"></th>
            <th  th:text="#{subTaskDescription}"></th>
        </thead>
        <tr th:each="subtask: *{subTasks}">
            <td th:text="${subtask.title}"></td>
            <td th:text="${subtask.description}"></td>
        </tr>
    </table>
</div>
</body>
</html>
